{% extends 'base.html' %}
{% block content %}
<main class="container">
    <section class="card card-body">
        <h1 class="display-1 text-center">Welcomo to Django Application</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, aspernatur, laborum hic inventore
            distinctio
            exercitationem voluptatem blanditiis numquam, adipisci a cupiditate animi asperiores dignissimos eveniet
            magni!
            Quibusdam illum architecto a beatae rem in eligendi neque nesciunt ipsa repudiandae, maiores nam saepe
            nostrum iste
            dolor recusandae, velit, tempora quisquam deleniti alias debitis. Pariatur corporis molestias maxime
            voluptate
            cumque incidunt, illo obcaecati ab asperiores ipsa, deleniti non nam dolore temporibus fugit ipsum
            consequatur
            inventore quae excepturi sit alias. Nam delectus magni reiciendis deserunt tempora enim harum quo
            doloremque,
            dolorem quos velit nemo voluptate asperiores quam tempore molestiae non ipsa. Quam, ab harum!</p>
            <div class="text-center">
                <a href="/sigin/" class="btn btn-primary">Sigin</a>
                <a href="/signup/" class="btn btn-primary">Signup</a>
            </div>
        </section>
</main>



{% endblock %}